Controle_janela/Debug/*
Controle_janela/Release/*
Controle_janela/.qmake.stash/*
Controle_janela/Controle_janela.pro.user/*
Controle_janela/Makefile/*
Controle_janela/Makefile.Debug/*
Controle_janela/Makefile.Release/*
